# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug
*.log*

temp/

# svelte-kit
.svelte-kit/
.vercel

# vite temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# git secret
.gitsecret/keys/random_seed
!*.secret
.wrangler/

